<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.framework.mybatisplus.mapper.TriInsuredMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.trkj.framework.mybatisplus.entity.TriInsured">
        <id column="TRI_INSURED_ID" property="triInsuredId" />
        <result column="TRI_INSURED_NAME" property="triInsuredName" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
        <result column="REVISION" property="revision" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TRI_INSURED_ID, TRI_INSURED_NAME, CREATED_TIME, UPDATED_TIME, REVISION, IS_DELETED
    </sql>

</mapper>
